<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">Lista de hijos</h4>
          </div>
          <div class="card-content">
            <div class="row">
              <form [formGroup]="register_form" novalidate (ngSubmit)="Register(register_form.value, register_form.valid)">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="s1">Seleccionar hijo</label>
                    <select id="s1" class="form-control" #token formControlName="token">
                      <option *ngFor="let item of children" value="{{item.token}}">{{item.nombre}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group label-floating">
                    <label for="t1" class="control-label">Mensaje</label>
                    <textarea id="t1" class="form-control" #mensaje formControlName="mensaje"></textarea>
                  </div>
                </div>
                <div class="text-center col-sm-12">
                  <button class="btn btn-warning" [disabled]="!register_form.valid"> Registrar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>