<div class="body">
  <div class="container">
    <div class="cover">
      <h1>&lt;Tarija Segura<span class="slash">/</span>&gt;</h1>
      <h3>&lt;Te informamos que no te enuentras registrado :( <br>descagar la aplicacion "Tarija Segura" y registrate<span class="slash">/</span>&gt;</h3>
      <img src="../../assets/images/o.gif" alt="" style="max-width: 200px">
      <div class="flex-form">
        <label for="from">
        <i class="ion-location"></i>
      </label>
        <input type="search" value="Pulsa continuar para salir :D" disabled>
        <input type="submit" value="Continuar" (click)="Salir()">
    </div>
    </div>

  </div>
</div>
