<div class="container">
  <div class="at-section">
    <div class="at-section__title">Opciones disponibles</div>
  </div>
  <div class="at-grid" data-column="3">
    <div class="at-column">
      <div class="at-user">
        <div class="at-user__avatar">
          <img src="https://www.cacloud.com/style/images/whycch/location.png" />
        </div>
        <!-- <div class="at-user__avatar"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/adhamdannaway/128.jpg" /></div> -->
        <div class="at-user__name">Ubicar a mi hijo</div>
        <div class="at-user__title" style="margin: 20px">Ubique a su hijo y observe su ubicacion</div>
        <button class="btn" (click)="ubicar()">Ingresar</button>
      </div>
    </div>
    <div class="at-column">
      <div class="at-user">
        <div class="at-user__avatar">
          <img src="http://icons.iconarchive.com/icons/cornmanthe3rd/plex/256/Internet-chrome-icon.png" />
        </div>
        <!-- <div class="at-user__avatar"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/adhamdannaway/128.jpg" /></div> -->
        <div class="at-user__name">Historial de Navegacion</div>
        <div class="at-user__title" style="margin: 20px">Observe el histotial de navegacion de su hijo</div>
        <button class="btn" (click)="historial()">Ingresar</button>
      </div>
    </div>
    <div class="at-column">
      <div class="at-user">
        <div class="at-user__avatar">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjjtKeb10rkW6kbP63PDd_Dl-93e6da27Jp3poBuhriQS7qhTuIg" />
        </div>
        <!-- <div class="at-user__avatar"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/adhamdannaway/128.jpg" /></div> -->
        <div class="at-user__name">Contactos de su hijo</div>
        <div class="at-user__title" style="margin: 20px">Observe los contactos actualmente agragados al telefono de su hijo</div>
        <button class="btn" (click)="contactos()">Ingresar</button>
      </div>
    </div>
    <div class="at-column">
      <div class="at-user">
        <div class="at-user__avatar">
          <img src="https://cdn4.iconfinder.com/data/icons/keynote-and-powerpoint-icons/256/Messages-512.png" />
        </div>
        <!-- <div class="at-user__avatar"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/adhamdannaway/128.jpg" /></div> -->
        <div class="at-user__name">Enviar Notificacion</div>
        <div class="at-user__title" style="margin: 20px">Envie una notificacion</div>
        <button class="btn" (click)="chat()">Ingresar</button>
      </div>
    </div>
    <div class="at-column">
        <div class="at-user">
          <div class="at-user__avatar">
            <img src="https://cdn1.iconfinder.com/data/icons/basic-ui-elements-color/700/010_trash-2-512.png" />
          </div>
          <!-- <div class="at-user__avatar"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/adhamdannaway/128.jpg" /></div> -->
          <div class="at-user__name">Eliminar hijo</div>
          <div class="at-user__title" style="margin: 20px">Elimine todo datos de este suejto</div>
          <button class="btn" (click)="delete()">Ingresar</button>
        </div>
      </div>
  </div>
</div>