<div class="body">
    <div class="container">
        <button type="submit" class="btn" (click)="back()" style="margin-top: 20px; ">Regresar</button>
      <div class="cover">
        <h1>&lt;Tarija Segura
          <span class="slash">/</span>&gt;</h1>
        <h3>Mostrando ubicacion de: {{ nombre }}</h3>
        <img src="../../assets/images/lo.gif" alt="" style="max-width: 200px">
      </div>
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoon">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
    </div>
  </div>