@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
.body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  color: #0a0a0b;
  overflow: hidden;
}

ul,
nav {
  list-style: none;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.9;
}

a:hover {
  opacity: 1;
}

.slash {
  color: #e74c3c;
}
h1 {
  font-size: 3rem;
  font-weight: 700;
  color: black;
  margin: 0 0 0rem;
}

i {
  font-size: 1.3rem;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 10px 100px 0;
}

header nav ul {
  display: flex;
}

header nav li {
  margin: 0 15px;
}

header nav li:first-child {
  margin-left: 0;
}

header nav li:last-child {
  margin-right: 0;
}

a.btn {
  color: #fff;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a.btn:hover {
  background: #d73851;
  border: 1px solid #d73851;
  color: #fff;
}

.cover {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.flex-form button[type="submit"] {
  background: #ef3f5a;
  border: 1px solid #ef3f5a;
  color: #fff;
  padding: 0 30px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.flex-form button[type="submit"]:hover {
  background: #d73851;
  border: 1px solid #d73851;
}

.flex-form {
  display: -webkit-box;
  display: flex;
  z-index: 10;
  position: relative;
  width: 500px;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
}

.flex-form>* {
  border: 0;
  padding: 0 0 0 10px;
  background: #fff;
  line-height: 50px;
  font-size: 1rem;
  border-radius: 0;
  outline: 0;
  -webkit-appearance: none;
}

input[type="search"] {
  flex-basis: 500px;
}

#madeby {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 25px 100px;
  color: #fff;
}

@media all and (max-width:800px) {
  body {
    font-size: 0.9rem;
  }
  .flex-form {
    width: 100%;
  }
  input[type="search"] {
    flex-basis: 100%;
  }
  .flex-form>* {
    font-size: 0.9rem;
  }
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding: 10px !important;
  }
  header h2 {
    margin-bottom: 15px;
  }
  h1 {
    font-size: 2rem;
  }
  .cover {
    padding: 20px;
  }
  #madeby {
    padding: 30px 20px;
  }
}

@media all and (max-width:360px) {
  header nav li {
    margin: 0 10px;
  }
  .flex-form {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
  input[type="search"] {
    flex-basis: 0;
  }
  label {
    display: none;
  }
}
.btn {
  display: inline-block;
  background-color: #d62d1a;
  border-radius: 4px;
  line-height: 40px;
  height: 40px;
  padding: 0 30px;
  text-decoration: none;
  color: #fff;
  font-weight: 900;
	cursor: pointer;
	transition: all .3s ease;
}
.btn:disabled {
    background: #e74c3c;
}
agm-map {
    /*width: 300px;*/
    height: 325px;
    margin: 10px;
  }
.content-form {
  display: block;
  text-align: center;
}
.form-not {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}