a {
  text-decoration: none;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 2px;
  color: #c80000;
}
a:hover {
  color: #af0000;
  border-color: #c80000;
}

h1,
h2,
h3 {
  font-weight: 300;
}

.login-wrapper {
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding: 90px 0 45px;
}

.login-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.column {
  max-width: calc(800px/2 - 40px);
  width: 100%;
  height: 300px;
  margin: 1em;
  padding-bottom: 20px;
}

.info-column h1 {
  margin-top: 0;
}
.info-column .update-container {
  padding: 1em;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  background: white;
}
.info-column .update-container .title {
  font-weight: 600;
}
.info-column .update-container hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #e0e0e0;
  margin: 1em 0;
  padding: 0;
}
.info-column .update-container h4 {
  color: #c80000;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.sign-column .g-sign {
  background: #c80000;
  padding: 1px;
  border-radius: 3px;
  display: block;
  color: white;
  border: 0;
}
.sign-column .g-sign:hover {
  background: #af0000;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.12);
  color: rgba(255, 255, 255, 0.84);
  -webkit-transition: 200ms;
  transition: 200ms;
}
.sign-column .g-sign .button-container {
  display: table;
}
.sign-column .g-sign .button-container .g-icon,
.sign-column .g-sign .button-container .button-content {
  display: table-cell;
  vertical-align: middle;
}
.sign-column .g-sign .button-container .g-icon {
  width: 20px;
  height: 20px;
  background: white;
  padding: 15px;
}
.sign-column .g-sign .button-container .button-content {
  text-align: center;
  width: 100%;
  font-weight: 600;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
}
.sign-column .divider {
  width: 100%;
  text-align: center;
  margin: 20px auto;
  text-transform: uppercase;
  font-size: 12px;
  color: #9e9e9e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sign-column .divider .left,
.sign-column .divider .right {
  width: 45%;
  height: 1px;
  background: #9e9e9e;
}
.sign-column form .input-group {
  width: 100%;
  margin-bottom: 2em;
}
.sign-column form .input-group .label,
.sign-column form .input-group .input {
  display: block;
}
.sign-column form .input-group .label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0.5em;
}
.sign-column form .input-group .input {
  border: none;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  width: calc(100% - 2em);
  padding: 1em;
  border-radius: 3px;
  background: #eeeeee;
  border: 1px solid #bdbdbd;
  font-size: 18px;
}
.sign-column form .input-group .input:focus, .sign-column form .input-group .input:active, .sign-column form .input-group .input:hover {
  background: #fff1f1;
  -webkit-transition: 100ms ease 50ms;
  transition: 100ms ease 50ms;
  border-color: #c80000;
}
.sign-column form .formHelp {
  font-size: 13px;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.sign-column form .formHelp .form-check {
  color: #9e9e9e;
}
.sign-column form .formHelp .form-check input {
  margin-right: 8px;
}
.sign-column form .form-button {
  background: #c80000;
  border-radius: 3px;
  font-family: inherit;
  font-weight: 600;
  padding: 15px 0;
  display: block;
  width: 100%;
  color: white;
  border: 0;
  cursor: pointer;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.sign-column form .form-button:hover {
  background: #af0000;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.12);
  color: rgba(255, 255, 255, 0.84);
  -webkit-transition: 200ms;
  transition: 200ms;
}

@media screen and (max-width: 790px) {
  .info-column {
    display: none;
  }
}
