<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">Lista de hijos</h4>
          </div>
          <div class="card-content">
           <div class="row">
             <div class="col-md-12">
                <agm-map [latitude]="kid.latitud" [longitude]="kid.longitud" [zoom]="zoom" class="grid-img">
                    <agm-marker [latitude]="kid.latitud" [longitude]="kid.longitud"></agm-marker>
                  </agm-map>
             </div>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>