<div class="body">
  <div class="container">
    <div class="cover">
      <h1>&lt;Tarija Segura<span class="slash">/</span>&gt;</h1>
      <h3>&lt;Te damos la bienvenida...<span class="slash">/</span>&gt;</h3>
      <img src="../../assets/images/o.gif" alt="" style="max-width: 200px">
      <div class="flex-form">
        <label for="from">
        <i class="ion-location"></i>
      </label>
        <input type="search" placeholder="Cargando..." [(ngModel)]="name" [ngModelOptions]="{standalone: true}" disabled>
        <input type="submit" value="Continuar" (click)="continuar()">
    </div>
    </div>

  </div>
</div>
